
<div class="row">
    <!-- HEADER -->
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 id="header">Actually Find Things at LA Tech</h2>
        <h6>I make no guarantee that this site will be working when you visit it, because I'm currently breaking and fixing things, sorry!</h6>
    </div>
</div>

<div class="row">
<!-- SEARCH BAR -->
    <div class="col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
        <!-- <input type="text" id="search-bar" class="search-bar form-control"> -->
        <form id="search-bar-form">
            <div class="input-group">
                <input type="text" id="search-bar" class="form-control" placeholder="Actually Find Information. ('CSC 220', 'Engineering', etc)">
                <span class="input-group-btn">
                    <button class="btn btn-search" type="submit">Search!</button>
                </span>
            </div>
        </form>
    </div>

    <!-- Toggle Btns -->
    <div class="col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 toggle-btn-container-container">
        <div class="btn-group toggle-btn-container" id="toggle-btn-container" data-toggle="buttons">
        </div>
    </div>
</div>

<div class="row">
    <div class="well" id="results-well">
        <div id="results"></div>
    </div>
</div>